body {
  margin: 0 auto;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.img {
  height: 230px;
  border-radius: 70%;
}

.contact {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;
}

.contact_use {
  padding: 0;
  opacity: 0.5;
}

.center {
  text-align: center;
}

.vertical {
  margin: auto;
}

.list {
  list-style: square;
  text-align: start;
}

.container {
  text-align: start;
  margin-bottom: 15px;
  color: rgba(63, 157, 121);
  opacity: 1;
  z-index: 999999;
}

.my-name {
  font-size: 50px;
  font-family: serif;
  color: rgb(242, 239, 245);
}

.work {
  font-size: 20px;
}
.res {
  margin-top: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/star-wars-backgrounds-14.jpg");
}
